<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="main">
<h2>Top</h2>
<table>
    <thead>
    <tr>
        <th>Nume</th>
        <th>Autor</th>
        <th>Descriere</th>
        <th>Link</th>
        <th>Gen</th>
        <th>Voturi</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td th:text="${song.numeMelodie}"></td>
        <td th:text="${song.autor}"></td>
        <td th:text="${song.descriere}"></td>
        <td th:text="${song.linkMelodie}"></td>
        <td th:text="${song.gen}"></td>
        <td th:text="${song.voturi}"></td>


    </tr>
    </tbody>
</table>


</div>
</body>
</html>